<footer class="footer" role="contentinfo">
  <img class="footer-logo" src="/assets/img/logo-mono-light.png" />
  <p class="footer-links">
    <a href="/locations">Locations</a> <span>|</span>
    <a href="/our-services">Services</a> <span>|</span>    
    <a href="/our-staff">Our Staff</a> <span>|</span>
    <a href="/resources">Resources</a>
  </p>

  <!-- copyright -->
  <small class="copyright">
    &copy;  <script>document.write(new Date().getFullYear())</script> Pinnacle Physiotherapy.
  </small>
  <!-- /copyright -->
</footer>
