<header class="header" role="banner">
    <!-- nav -->
    <nav class="nav" role="navigation">
      <a href="/" class="masthead visible-xs">
        <img src="/assets/img/logo-lg.png" />
      </a>
      <ul>
        <li class="nav-item">
          <a href="/locations">Locations</a>
        </li>
        <li class="nav-item">
          <a href="/our-services">Services</a>
        </li>
        <li class="hidden-xs">
          <a href="/" class="masthead">
            <img src="/assets/img/logo-lg.png" />
          </a>
        </li>
        <li class="nav-item">
          <a href="/our-staff">Our Staff</a>
        </li>
        <li class="nav-item">
          <a href="/resources">Resources</a>
        </li>
      </ul>
    </nav>
    <!-- /nav -->
</header>