<aside class="sidebar" role="complementary">
  <div class="sidebar-widget">
    <div id="custom_html-2" class="widget_text widget_custom_html">
      <div class="textwidget custom-html-widget">
        <div class="side-contact">
          <a href="/locations" class="btn contact-btn">Contact Us Today!</a>
          <span class="or">or</span>
          <a href="/book-an-appointment" class="btn book-appt-btn"
            >Book an Appointment</a
          >
        </div>
      </div>
    </div>
  </div>
</aside>
