.field.location-field {
  margin-bottom: 3rem;
}

.form-separator {
  position: relative;
  display: block;
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 0;
  border: none;
  border-top: 1px solid rgb(146, 198, 235);
  margin-left: 10%;
  margin-right: 10%;
  overflow: visible;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 10px;
    height: 10px;
    background: rgb(146, 198, 235);
    border-radius: 5px;
    margin-top: -5px;
  }
}

div.field,
p.field {
  margin-bottom: 1.75rem;
  label.primary-label {
    font-size: 1.75rem;
    display: block;
    margin-bottom: 0.75rem;
  }
}

div.field input[type='text'],
div.field input[type='email'],
div.field input[type='tel'],
div.field textarea,
div.field select {
  appearance: none;
  font: inherit;
  line-height: inherit;
  border: 1px solid #ccc;
  padding: 3px 5px;
}

.appt-form {
  display: none;
}

#my-form-button {
  appearance: none;
  border: none;
  background: #2978b1;
  border-radius: 20px;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 14px;
  &:hover {
    cursor: pointer;
    background: #255f8a;
  }
}

#my-form-status {
  color: #2978b1;
  font-family: 'Roboto Condensed';
  font-weight: 700;
}