.text-center {
  text-align: center;
}

#facebook-feed {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .three-columns {
    display: flex;
    justify-content: space-between;
    .third-column {
      flex: 0 0 32%;
    }
  }
  #facebook-feed {
    float: left;
    width: 48%;
  }
  #instagram-feed {
    float: right;
    width: 48%;
    height: 500px;
  }
}

.social-footer {
  padding-bottom: 3rem;
}

.staff-column {
  img {
    max-width: 200px;
  }
}

.locations-img {
  img {
    max-width: 100%;
  }
}

// sidebar

aside.sidebar {

}

@media (min-width: 768px) {
  aside.sidebar {
    float: right;
    width: 250px;
  }

  body.resources section,
  body.book-an-appointment section {
    width: calc(100% - 275px);
  }
}